
  @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@300&display=swap');

*,
* ::before *::after body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    font-family: 'Big Shoulders Display', sans-serif,'Outfit', sans-serif;



}
header {
    width: 375px;
    margin-top: -8px;
    
  
  }
  .hide{
    display: none;
    width: 1000px;
    height: 800px;
    background-color: #151515;

  }
  .textbox1 button {
    width: 260px;
    height: 72px;
    background: black;
    position: relative;
    border: none;
    cursor: pointer;
  
  }
  .textbox1{
    margin-left: 10px;
  }
  h1{
    width: 343px;
    color: var(--Almost-Black, #151515);
font-family: 'Big Shoulders Display';
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 55px; /* 91.667% */
text-transform: uppercase;
  }
header p{
    width: 343px;
    color: var(--Dark-Grey, #444);
font-family: 'Outfit';
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 155.556% */
}
.textbox1 button img{
position:relative;
top: -2%;
left: 42%;
}
.textbox1 button p{
    position: relative;
    top: -100%;
    left: -30%;
    color: var(--White, #FFF);
font-family: 'Big Shoulders Display';
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 3.636px;
}
.pic2{
    display: none;
}
.img{
  width: 343px;
  margin-top: 30px;
}
.img1{
  height: 320px;
  background-image: url(./assets/mobile/hall.svg);
}
h2{
  color: var(--Almost-Black, #151515);
font-family: 'Big Shoulders Display';
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 45px; /* 90% */
text-transform: uppercase;
}
.cont1 p{
  color: var(--Dark-Grey, #444);
font-family: 'Outfit';
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 155.556% */
}
.img2{
  height: 480px;
  background-image: url(./assets/mobile/chair.svg);
}
.img3{
  height: 200px;
  background-image: url(./assets/mobile/hall2.svg);
}
.blackbox{
  height: 295px;
  background-color: #151515;
}
h3{
  position: relative;
  top: 10%;
  left: 5%;
  color: var(--White, #FFF);
font-family: 'Big Shoulders Display';
font-size: 50px;
font-style: normal;
font-weight: 900;
line-height: 45px; /* 90% */
text-transform: uppercase;
}
.blackbox p{
  margin-left: 5%;
  width: 295px;
  color: var(--White, #FFF);
font-family: 'Outfit';
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 155.556% */
}
.img1 img{
  display: none;
}
footer{
  width: 375px;
  height: 340px;
  background-color: #151515;
  margin-top: 120px;
}
.footertxt{
  display: block;
}
footer p{
  width: 311px;
  color: var(--White, #FFF);
font-family: 'Outfit';
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 162.5% */
}
h4{
  color: #FFF;
  font-size: 24px;
  font-family: 'outfit';
}
.footertxt img{
  margin-top: 30px;
}
.footertxt{
  margin-left: 30px;
}